<section class="container centered">
  <article class="article">
    <h1 class="article-title">Next Meeting: </h1>
    <div>
      {{ range first 1 (where .Data.Pages "Section" "meetings")}}
        {{ partial "meeting.html" . }}
      {{ end }}
    </div>
  </article>
</section>
